body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?cs=srgb&dl=pexels-ithalu-dominguez-907485.jpg&fm=jpg");
    background-size: cover;
    backdrop-filter: brightness(90%);
}

canvas {
    display: block;
}

#canvas_container {
    width: 100%;
    height: 100vh;
}

.instructions {
    position: absolute;
    bottom: max;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 10;
    font-size: 20px;
    color: #FFF;
    opacity: 0.75;
}